<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2"><img src="https://pbs.twimg.com/profile_images/2610244922/709ehjxrll0rbq8cckxg_400x400.jpeg"  height="150" width="150"></div>
    <div class="col-lg-10">
      <p class="heading">Appendix A- Network Access Request Form</p>
      <p class="tag">Employee or Contractor Request for Network Access<p>
      </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <p class="mandatory">* fields marked in red, if applicable, are required and we will not be able to complete the request without these filled out.</p>
        </div>
      </div>
  </div>
